.App {
  text-align: center;
}

.fg--search {
  position: relative;
  font-size: 15px;
}

.fg--search button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 1px;
}

::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Kolor tła ścieżki paska przewijania */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor paska przewijania */
  border-radius: 15px; /* Zaokrąglenie rogów paska przewijania */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Kolor paska przewijania po najechaniu myszką */
}

@media (max-width: 768px) {
  .col-1-ulub {
    display: none; /* Ukryj kolumnę "Ulubiona" na małym ekranie */
  }
}

.moja-tabela {
  width: 100%;
}

/* Dla ekranów o szerokości mniejszej niż col-md-12 */
@media (max-width: 767px) {
  .moja-tabela {
    width: 1500px;
  }
}

