  .loginButton {
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .loginButton:hover {
    box-shadow: 0px 0px 25px rgb(108, 110, 110); /* Efekt większego cienia na najechanie */
  }

  .searchBar {
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .searchBar:hover {
    box-shadow: 0px 0px 25px rgb(108, 110, 110); /* Efekt większego cienia na najechanie */
  }

  .blueButton {
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .blueButton:hover {
    box-shadow: 0px 0px 25px rgb(18, 162, 245); /* Efekt większego cienia na najechanie */
  }

  .greenButton {
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .greenButton:hover {
    box-shadow: 0px 0px 25px rgb(3, 148, 22); /* Efekt większego cienia na najechanie */
  }

  .redButton {
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .redButton:hover {
    box-shadow: 0px 0px 25px rgb(245, 18, 18); /* Efekt większego cienia na najechanie */
  }

  .microphone {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Dodajemy cień pod obrazkiem */
    border-radius: 50%; /* Zaokrąglamy rogów, aby uzyskać kształt okręgu */
    transition: box-shadow 0.3s; /* Dodajemy efekt przejścia dla cienia */
  }
  
  .microphone:hover {
    box-shadow: 0px 0px 25px rgb(18, 162, 245); /* Efekt większego cienia na najechanie */
  }

  .active-microphone {
    animation: blink-animation 1s infinite; /* Dodajemy animację migania przy włączonym mówieniu */
  }

  .recognize {
    height: 50px;
    width: 400px;
    margin-bottom:5px;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 12px;
    display: inline-block;
    color: white;
    background-color: darkred;
    animation: glowingBackground 2s infinite; /* Dodajemy animację do klasy recognize */
  }

.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    display:none;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} 

.button-container {
  display: flex;
  align-items: center;
  background-color:rgb(168, 168, 168);
}

.like-btn:hover i,
.like-btn:hover span {
  color: lightgreen;
}

.dislike-btn:hover i,
.dislike-btn:hover span {
  color: lightcoral;
}

.green{
  color: green;
}

.red{
  color:red;
}

.none{
  color:none;
}

.blue{
  color:blue;
}

.likeBorder{
  background-color:rgb(165, 165, 165);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

  @keyframes glowingBackground {
    0% {
      background-color: darkred;
      box-shadow: none;
    }
    50% {
      background-color: red;
      box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
    }
    100% {
      background-color: darkred;
      box-shadow: none;
    }
  }

  @keyframes blink-animation {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

