.skladnik {
    background-color: #303030;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
    margin: 5px;
  }
  
  .skladnik:hover {
    background-color: green;
    border: 2px solid white;
  }
  
  .ulubiony {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
  }
  
  .ulubiony:hover {
    background-color: red;
    border: 2px solid green;
  }
  
  .nieulubiony {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
  }
  
  .nieulubiony:hover {
    background-color: #303030;
    border: 2px solid red;
  }
  
  